<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>692898258538-dl0vevdroservnsc3b7gv0trt1v4eea2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.692898258538-dl0vevdroservnsc3b7gv0trt1v4eea2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>692898258538-8ba60rls2hns9ch98o6l1mr8uodl182d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBpGQmaOXGzaAqATc6kLfdCliN7MIUhuWw</string>
	<key>GCM_SENDER_ID</key>
	<string>692898258538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.durbansalons</string>
	<key>PROJECT_ID</key>
	<string>durbansalons</string>
	<key>STORAGE_BUCKET</key>
	<string>durbansalons.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692898258538:ios:a083371b3e2c6f13987413</string>
</dict>
</plist>